[submodule "tabular/魔镜杯风控算法大赛/code/3rd-place-solution"]
	path = tabular/魔镜杯风控算法大赛/code/3rd-place-solution
	url = https://github.com/wepe/PPD_RiskControlCompetition.git
[submodule "gnn/vLoong电池充电异常检测/8rd-place-solution"]
	path = gnn/vLoong电池充电异常检测/8rd-place-solution
	url = git@github.com:itlubber/aistudio-vloong-anomaly-detection-top11.git
[submodule "nlp/新闻地理位置识别/1rd-place-solution"]
	path = nlp/新闻地理位置识别/1rd-place-solution
	url = git@github.com:itlubber/iflytek-geographical-identification-top1.git
[submodule "tabular/马上消金违约用户风险预测/1rd-place-solution"]
	path = tabular/马上消金违约用户风险预测/1rd-place-solution
	url = git@github.com:chenkkkk/User-loan-risk-prediction.git
[submodule "tabular/马上消金违约用户风险预测/2rd-place-solution"]
	path = tabular/马上消金违约用户风险预测/2rd-place-solution
	url = git@github.com:rogeroyer/AI-challenger-contest.git
